.blogs{
    &__item{
        padding-top: 42px;
   &--top{
        position: relative;
        min-height: 320px;;
    }
}
    &__image{
        min-height: 100%;
        border-radius: 38px;
    }
    &__date{
        position: absolute;
        left: 42px;
        top: calc(100%-22px);
        transform: translateY(-100%);
    }
}