.blogs{
    &__column{
        padding: 42px;
    }
    &__item{
       box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
    &--top{
        position: relative;
        min-height: 320px;;
    }
    &--bottom{
        
    }
}
    &__image{
        max-width: 100%;
        min-height: 100%;
        border-radius: 38px;
    }
    &__date{
        position: absolute;
        left: 42px;
        top: calc(100%- 42px);
        transform: translateY(-100%);
    }
}