.blogs{
    &__item{
        padding: 42px;
    &--top{
        position: relative;
        min-height: 320px;;
    }
}
    &__image{
        max-width: 100%;
        min-height: 100%;
        border-radius: 38px;
    }
    &__date{
        position: absolute;
        left: 42px;
        top: calc(100%- 42px);
        transform: translateY(-100%);
    }
}