.chiefs {
	padding-bottom: 195px;
	&__title {
		color: $color-white;
	}
	.col-3 {
		padding: 0 22px;
	}
	&__item {
		position: relative;
		overflow: hidden;
		z-index: 1;
		box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
		border-radius: 26px;
		background-color: transparent;
		img {
			height: 482px;
			width: 100%;
        }
    }
}