.cheifs{
    &__title{
        color: $color-white;
    }
    &__item{
        position: relative;
        padding: 22px;
        overflow: hidden;
        
    }
    img{
        max-width: 100%;
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
    }
    &__info{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        background-color: $color-orange;
        text-align: center;
        border-radius: 26px;
        max-width: 367px;
    }
}