.cheifs{
    padding-bottom: 195px;
    &__title{
        color: $color-white;
    }
    &__item{
        position: relative;
        
        z-index: 1;
		
		border-radius: 26px;
		background-color: transparent;
        
    }
    img{
        height: 482px;
        width: 100%;
    }
    &

    &__info{
      
        left: 0;
        bottom: 0;
        z-index: 1;
        
        text-align: center;
        border-radius: 26px;
        max-width: 370px;
        
		transition: 0.3s;
    }
    &__name {
		@include font($font-poppins, 30px, 500);
		transition: 0.3s;
	}
	&__speciality {
		@include font($font-poppins, 24px, 400);
		transition: 0.3s;
	}
}