.footer{ 
    &__top {
        padding: 80px 0;
    }
    &__bottom {
		padding: 40px 0;
		background-color: $color-black;
	}
    &__title{
        @include font($font-poppins, 24px);
        font-weight: 500;
        margin-bottom: 10px;
        color: $color-spaceGray;
    }
    &__description{
        @include font($font-poppins, 16px, 400);
        margin-top: 30px;
        color: $color-spaceGray;
        max-width: 400px;
    }
    &__list li {
        margin-top: 10px;
    }
    &__list a {
		@include font($font-poppins, 16px, 500);
		line-height: 157%;
		color: $color-black;
    }
    &__form {
		padding-top: 90px;
	}

}


.footer__row{
    display: flex;
}

.footer__bottom {
    padding: 25px 0;
}
.footer__bottom .row {
    justify-content: space-between;
}
.footer__bottom span, .footer__bottom a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
}