.services{
    padding-top: 115px;
    &__item{
        margin-left: 10px;
        text-align: center;
        background-color: $color-orange;
        padding: 30px 30px;
        img{
            padding: 10px 10px;
            background-color: $color-white;
        }
        &__title{
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 30px;
        }
}
}