.sort{
    padding-top: 240px;
    &__filter{
        justify-content: center;
    }
    .filter{
        &__items{
            margin-left: 65px;
            &::nth-child(1){
              margin: 0;
            }
        }
    }
}